/* 文字化け防止 */
@charset "UTF-8";

/* 全体 */
:root {
}

body::-webkit-scrollbar {
  background: #222;
}

body::-webkit-scrollbar-thumb {
  background: #778;
}

/* ============================== */
/* 開閉ボタン
/* ============================== */

/* サイドバー開閉ボタン */
.fa-angle-double-right {
  color: #778;
}

.fa-angle-double-left {
  color: #778;
}


/* ============================== */
/* サイドバー（TOC）              */
/* ============================== */

.nav {
  color: #fff;
  background: #445;
}

.nav::-webkit-scrollbar {
  background: #657;
}

.nav::-webkit-scrollbar-thumb {
  background: #445;
}

.nav h2 {
  border-bottom-color: #fff;
}

.nav a {
  color: #fff;
}


/* ============================== */
/* コンテンツ本体                 */
/* ============================== */

.wrapper {
  background: #222;
}

.md {
  color: #fff;
  background: #222;
}

/* レスポンシブ */
@media screen and (min-width: 1160px) {
  .wrapper {
    background: #bdbbbf;
  }
  body::-webkit-scrollbar {
    background: #bdbbbf;
  }
}

/* 見出し */
.md h1 {
  color: #fff;
}
.md h2 {
  color: #fff;
  background: #667;
}
.md h3 {
  color: #fc5;
  border-left-color: #ea3;
}
.md h4 {
  color: #ccd;
  border-left-color: #ccd;
}
/* 動画チャプター用 */
.md h5 {
  color: #657;
}
.md h6 {
  color: #102;
}

/* 地の文 */
.md p {
}
.md em {
  color: #546;
}
.md strong {
  color: #d70;
}
.md em strong {
  color: #d70;
}
.md a {
  color: #aaf;
}

/* 引用 */
.md blockquote {
  border-left-color: #555;
  color: #ccc;
}
.md blockquote h1 {
  color: #668;
}

/* リスト構造 */
/* リスト内 */

/* 図表 */
.md table {
  border-color: #445;
}
/* 一行分 */
.md table thead {
  border-color: #445;
}
/* 各セル */
.md table thead th {
  color: #fff;
  background: #918897;
}
.md table tbody td {
  border-left-color: #445;
}


/* 数式系 */
.md .alg {
  color: #444;
}

/* コード */
.md pre {
}
.md code {
}

/* 水平線 */
.md hr {
  border-top-color: #666;
}



