/* 文字化け防止 */
@charset "UTF-8";

/* 全体 */
:root {
  font-size: 100%;
  font-family: sans-serif;
  color: #102;
}

/* コンテンツ本体大枠 */
article.md {
  padding: 1.5rem 2.0rem;
  line-height: 1.6rem;
}

/* 以降省略して article.md -> .md で記述 */
/* 見出し */
.md h1 {
  font-size: 2.2rem;
  line-height: 100%;
  font-weight: bold;
  padding: 1.0rem 0.0rem 0.4rem 0.0rem;
  color: #657;
}
.md h2 {
  font-size: 2.0rem;
  line-height: 100%;
  font-weight: normal;
  padding: 2.4rem 0.8rem 0.4rem 0.8rem;
  margin: 0 0 0.5rem  0;
  color: #546;
  border-bottom: 2px solid #657;
}
.md h3 {
  font-size: 1.6rem;
  line-height: 100%;
  font-weight: normal;
  padding: 0.2rem 0 0 1rem;
  margin: 1.2rem 0.0rem 0.4rem 0.0rem;
  color: #435;
  border-left: 10px solid #ea3;
}
.md h4 {
  font-size: 1.4rem;
  line-height: 100%;
  font-weight: normal;
  padding: 1.0rem 0.0rem 0.2rem 0.4rem;
  color: #324;
}
.md h5 {
  font-size: 1.3rem;
  line-height: 100%;
  font-weight: normal;
  padding: 1.0rem 0.0rem 0.2rem 0.4rem;
  color: #213;
}
.md h6 {
  font-size: 1.3rem;
  line-height: 100%;
  font-weight: normal;
  padding: 1.0rem 0.0rem 0.2rem 0.4rem;
  color: #213;
}

/* 地の文 */
.md p {
  padding: 0.6rem 0.8rem 0.4rem 0.8rem;
}

