/* 文字化け防止 */
@charset "UTF-8";

/* 全体 */
:root {
  font-size: 100%;
  font-family: sans-serif;
}

/* 画面全体（グリッド設定） */
body {
  display: grid;
  height: 100vh;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
    "nav   article";
}


/* ============================== */
/* サイドバー（TOC）              */
/* ============================== */

nav.toc {
  grid-area: nav;
  padding: 1.2rem 0.4rem;
  font-size: 0.9rem;
  line-height: 185%;
  color: #fff;
  background: #657;
  overflow-y: auto;
}

.toc h1 {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 140%;
  padding: 0 1rem 0.4rem 1rem;
}

.toc h2 {
  font-weight: normal;
  font-size: 1.0rem;
  line-height: 140%;
  padding: 0 1rem 0.4rem 1rem;
}

.toc a {
  color: #fff;
  text-decoration: none;
}


/* ============================== */
/* コンテンツ本体                 */
/* ============================== */

article.md {
  grid-area: article;
  padding: 1.5rem 2.0rem 4rem 2.0rem;
  line-height: 165%;
  color: #102;
  overflow-y: auto;
}

/* 以降省略して article.md -> .md で記述 */
/* 見出し */
.md h1 {
  font-size: 1.6rem;
  line-height: 140%;
  font-weight: bold;
  padding: 1.0rem 0.0rem 0.4rem 0.0rem;
  color: #657;
}
.md h2 {
  font-size: 1.4rem;
  line-height: 140%;
  font-weight: normal;
  padding: 2.0rem 0.8rem 0.4rem 0.8rem;
  margin: 0 0 0.5rem  0;
  color: #546;
  border-bottom: 2px solid #657;
}
.md h3 {
  font-size: 1.3rem;
  line-height: 140%;
  font-weight: normal;
  padding: 0.2rem 0 0 0.8rem;
  margin: 1.0rem 0.0rem 0.5rem 0.2rem;
  color: #435;
  border-left: 10px solid #ea3;
}
.md h4 {
  font-size: 1.2rem;
  line-height: 140%;
  font-weight: normal;
  padding: 1.0rem 0.0rem 0.2rem 0.4rem;
  color: #324;
}
.md h5 {
  font-size: 1.0rem;
  line-height: 140%;
  font-weight: normal;
  padding: 1.0rem 0.0rem 0.2rem 0.4rem;
  color: #102;
}
.md h6 {
  font-size: 1.0rem;
  line-height: 140%;
  font-weight: normal;
  padding: 1.0rem 0.0rem 0.2rem 0.4rem;
  color: #102;
}

/* 地の文 */
.md p {
  padding: 0.5rem 1.0rem 0.5rem 1.0rem;
}
.md em {
  color: #d70;
}
.md strong {
  color: #546;
  font-weight: bold;
}
.md em strong {
  color: #d70;
  font-weight: bold;
}
.md a {
  color: #54d;
}

/* 引用 */
.md blockquote {
  margin: 0.2rem 1.2rem;
  border-left: .25rem solid #888;
  color: #444;
}

/* リスト */
.md ul, .toc ul {
  padding-left: 2.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  list-style-type: disc;
}
.md ol, .toc ol {
  padding-left: 2.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.md ul ul, .toc ul ul {
  padding-left: 1.4rem;
  padding-top: 0;
  padding-bottom: 0;
  list-style-type: circle;
}
.md ul ol, .toc ul ol {
  padding-left: 1.4rem;
  padding-top: 0;
  padding-bottom: 0;
}
.md ol ul, .toc ol ul {
  padding-left: 1.4rem;
  padding-top: 0;
  padding-bottom: 0;
  list-style-type: circle;
}
.md ol ol, .toc ol ol {
  padding-left: 1.4rem;
  padding-top: 0;
  padding-bottom: 0;
  list-style-type: lower-roman;
}

.md ol ol ol, .toc ol ol ol {
  padding-left: 1.4rem;
  padding-top: 0;
  padding-bottom: 0;
  list-style-type: lower-latin;
}

/* 図表 */
.md table {
  border: 2px solid #435;
  margin: 0.5rem 1rem;
}
.md table thead {
  border: 2px solid #435;
}
.md table thead th {
  padding: 0.4rem 0.8rem;
  font-weight: normal;
  background: #546;
  color: #fff;
}
.md table tbody td {
  padding: 0.5rem 0.8rem 0.3rem 0.8rem;
}

/* コード */
.md pre {
  font-family: monospace;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin: 0.8rem 1rem 1.4rem 1rem;
  padding: 1rem;
  border: 2px solid #102;
}
.md code {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

/* 水平線 */
.md hr {
  border-top: 2px solid #879;
}


