/* 文字化け防止 */
@charset "UTF-8";

/* 全体 */
:root {
  font-size: 90%;
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  background: #fff;
  width: 14px;
}

body::-webkit-scrollbar-thumb {
  background: #445;
}

/* ============================== */
/* 開閉ボタン
/* ============================== */

/* サイドバー開閉のチェックボックス */
.nav-btn {
  display: none;
}

/* サイドバー開閉ボタン */
.nav-label {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  left: 15px;
  /* transition: .3s; */
  z-index: 10;
}
/* 印刷では非表示 */
@media print {
  .nav-label {
    display: none;
  }
}

.nav-open {
  visibility: visible;
  opacity: 1;
  /* transition: .3s; */
}

.nav-close {
  visibility: hidden;
  opacity: 0;
  /* transition: .3s; */
}

.fa-angle-double-right {
  color: #657;
}

.fa-angle-double-left {
  color: #657;
}

.nav-btn:checked ~ .nav-label {
  left: 265px;
}

.nav-btn:checked ~ .nav-open {
  visibility: hidden;
  opacity: 0;
}

.nav-btn:checked ~ .nav-close {
  visibility: visible;
  opacity: 1;
}


/* ============================== */
/* サイドバー（TOC）              */
/* ============================== */

.nav {
  width: 0;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.4rem 0.4rem;
  font-size: 0.9rem;
  line-height: 155%;
  color: #fff;
  background: #657;
  height: 100vh;
  overflow-y: auto;
  z-index: 5;
  /* transition: .3s; */
  box-sizing: border-box;
}

/* サイドバー開時 */
.nav-btn:checked ~ .nav {
  width: 250px;
  visibility: visible;
  opacity: 1;
}

.nav::-webkit-scrollbar {
  background: #657;
  width: 12px;
}

.nav::-webkit-scrollbar-thumb {
  background: #445;
}

.nav h1 {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 140%;
  margin: 0 1rem 0rem 1rem;
}

.nav h2 {
  font-weight: normal;
  font-size: 1.04rem;
  font-weight: bold;
  line-height: 140%;
  margin: 1rem 0.5rem 1.0rem 0.5rem;
  padding: 0 0.5rem 0.2rem 0.5rem;
  border-bottom: 1px solid #fff;
}

.nav a {
  color: #fff;
}

.nav summary {
  font-size: 0.9rem;
  text-decoration: underline;
}
.nav details {
  padding-left: 1.4rem;
}
.nav details ul, .nav details ol {
  margin-top: 0;
}


/* ============================== */
/* コンテンツ本体                 */
/* ============================== */

.wrapper {
  overflow-y: auto;
  display: flex;
  justify-content: center;
  background: #fff;
  min-height: 100vh;
}
/* サイドバー開時 */
.nav-btn:checked ~ .wrapper {
  padding-left: 250px;
}

.md {
  line-height: 175%;
  color: #102;
  width: 90%;
  /* max-width: 800px; */
  padding: 1.2rem 2.4rem 4rem 2.4rem;
  background: #fff;
}

/* レスポンシブ */
@media screen and (min-width: 1160px) {
  .wrapper {
    background: #bdbbbf;
  }
  .md {
    padding: 1.2rem 5.4rem 4rem 5.4rem;
  }
  body::-webkit-scrollbar {
    background: #bdbbbf;
  }
}

/* 見出し */
.md h1 {
  font-size: 1.6rem;
  line-height: 140%;
  font-weight: bold;
  margin: 1.0rem 0.0rem 0rem 0.2rem;
  color: #657;
}
.md h2 {
  font-size: 1.4rem;
  line-height: 140%;
  font-weight: normal;
  padding: 0.6rem 1.4rem 0.3rem 1.4rem;
  margin: 2.0rem 0 0.6rem  0;
  color: #fff;
  background: #657;
}
.md h1 + h2 {
  margin-top: 1.2rem;
}
.md h3 {
  font-size: 1.3rem;
  line-height: 140%;
  font-weight: normal;
  padding: 0.2rem 0 0 0.8rem;
  margin: 1.8rem 0.0rem 0.5rem 0.2rem;
  color: #435;
  border-left: 10px solid #ea3;
}
.md h2 + h3 {
  margin-top: 1.0rem;
}
.md h4 {
  font-size: 110%;
  line-height: 140%;
  font-weight: bold;
  margin: 1.8rem 0.45rem 0 0.45rem;
  color: #657;
  padding: 0.2rem 0 0 0.8rem;
  border-left: solid 3px #657;
}
.md h3 + h4 {
  margin-top: 1.0rem;
}
.md h4 + * {
  margin-top: 0.5rem !important;
}
/* 動画チャプター用 */
.md h5 {
  font-size: 90%;
  line-height: 140%;
  font-weight: normal;
  margin-top: 1.5rem;
  margin-left: 0.2rem;
  color: #657;
}
.md h5 + h2 {
  margin-top: 0.8rem;
}
.md h5 + h3 {
  margin-top: 0.8rem;
}
.md h5 + h4 {
  margin-top: 0.8rem;
}
.md h6 {
  font-size: 1.0rem;
  line-height: 140%;
  font-weight: normal;
  padding: 1.0rem 0.0rem 0.2rem 0.4rem;
  color: #102;
}

/* 地の文 */
.md p {
  margin: 1.0rem 1.0rem 0 1.0rem;
}
.md ul + p, .md ol + p {
  margin-top: 0.2rem;
}
.md em {
  color: #546;
  font-weight: bold;
  font-style: normal;
}
.md strong {
  color: #d70;
  font-weight: bold;
  font-style: normal;
}
.md em strong {
  color: #d70;
  font-weight: bold;
  font-style: normal;
}
.md a {
  color: #54d;
}

/* 引用 */
.md blockquote {
  margin: 0.7rem 0 0 1.4rem;
  padding: 0.2rem 0 0.1rem 0;
  border-left: 0.25rem solid #ddd;
  color: #555;
}
.md blockquote + blockquote {
  margin-top: 1.2rem;
}
.md blockquote h1 {
  line-height: 175%;
  font-size: 1rem;
  margin: 0 0.8rem;
  color: #668;
}
.md blockquote h1 + * {
  margin-top: 0.2rem;
}
/* quate 内のコンテンツの margin が影響する？ */
.md blockquote > :first-child {
  margin-top: 0;
}
.md ul blockquote, ol blockquote {
  margin-left: 0;
}

/* リスト構造 */
.md ul, .nav ul {
  margin-left: 2.4rem;
  margin-top: 1.0rem;
  margin-bottom: 0;
  list-style-type: disc;
}
.md ol, .nav ol {
  margin-left: 2.4rem;
  margin-top: 1.0rem;
  margin-bottom: 0;
  position: relative;
}
.md ul > ul, .md ol > ul, .nav ul > ul, .nav ol > ul {
  margin-left: 1.4rem;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: circle;
}
.md ul > ol, .md ol > ol, .nav ul > ol, .nav ol > ol {
  margin-left: 1.4rem;
  margin-top: 0;
  margin-bottom: 0;
}
.md ol + ul, .nav ol + ul, .md ul + ol, .nav ul + ol {
  margin-top: 0;
}
.md p + ul, .md p + ol {
  margin-top: 0.2rem;
}

/* リスト内 */
.md li > p, .nav li > p {
  margin: 0;
}
.md li blockquote {
  margin: 0.5rem 0.2rem;
}
.md li blockquote + blockquote {
  margin-top: 1.0rem;
}
.md li > ul, .nav li > ul {
  margin-left: 1.4rem;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: circle;
}
.md li > ol, .nav li > ol {
  margin-left: 1.4rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* 図表 */
.md table {
  border: 2px solid #445;
  margin: 0rem 1.0rem;
}
.md p + table, .md ul + table, .md ol + table, .md blockquote + table {
  margin-top: 1.5rem;
}
.md table + table {
  margin-top: 1.5rem;
}
/* 一行分 */
.md table thead {
  font-size: 94%;
  border: 2px solid #445;
}
/* 各セル */
.md table thead th {
  padding: 0.3rem 0.8rem 0.0rem 0.8rem;
  font-weight: normal;
  background: #918897;
  color: #fff;
}
.md table tbody td {
  padding: 0.25rem 0.8rem 0rem 0.8rem;
  border-left: 2px solid #445;
}

.md figure {
  padding: 1rem 2rem 0rem 2rem;
  width: fit-content;
  text-align: center;
}
.md figcaption {
  padding: 0.5rem 1.0rem;
  font-size: 0.9rem;
}

.md .MathJax {
  font-size: 90%;
}

.md .alg {
  font-size: 90%;
  line-height: 150%;
  margin-left: 1rem;
  margin-bottom: 1.0rem;
  color: #444;
}
.md .alg h4 {
  padding-left: 0.5rem;
}
.md .alg h5 {
  padding-left: 0.5rem;
}
.md .alg p + ol {
  margin-top: -0.6rem;
}
.md .alg .MathJax {
  font-size: 80%;
}

.md figure {
  padding: 1rem 2rem 0rem 2rem;
  width: fit-content;
  text-align: center;
}
.md figcaption {
  padding: 0.5rem 1.0rem;
  font-size: 0.9rem;
}

.md .MathJax {
  font-size: 90%;
}

.md .alg {
  font-size: 90%;
  line-height: 150%;
  margin-left: 1rem;
  margin-bottom: 1.0rem;
  color: #444;
}
.md .alg h4 {
  padding-left: 0.5rem;
}
.md .alg h5 {
  padding-left: 0.5rem;
}
.md .alg p + ol {
  margin-top: -0.6rem;
}
.md .alg .MathJax {
  font-size: 80%;
}

/* コード */
.md pre {
  font-family: monospace;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin: 1.0rem;
  /* padding: 1rem; */
  /* border: 2px solid #102; */
}
.md code {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 1.0rem;
  line-height: 1.5rem;
}

/* 水平線 */
.md hr {
  border-top: 2px solid #879;
}



